  <!-- Paggination -->
  <div class="flex justify-between items-center mt-4 gap-4 flex-wrap">

    <!-- Record per page -->
    <div class="flex justify-center items-center  gap-2 text-themeblue-900">
      <label class="text-base text-themeblue-900 whitespace-nowrap">Items per page
      </label>
      <app-floating-dropdown [floatingDropdownId]="recordPerPageId">
        <button floating-dropdown-title (click)="openFloatingDropdown($event, 'recordPerPageId')"
          class="floating-dropdown-btn border-grey-400 border-2 text-themeblue-900 py-0.5 w-16 px-2 ml-2 mr-5 rounded flex justify-between items-center focus:border-grey-400">
          {{recordPerPage}} <i class="bx bx-chevron-up text-xl text-themeblue-900 floating-dropdown-btn"></i>
        </button>
        <div floating-dropdown-menu
          class="absolute bottom-9 z-50 transition-[margin,opacity] duration-900 mt-2 bg-white border-2 border-grey-400 rounded p-2 mr-5 w-fit right-0 min-w-16">
          <div *ngFor="let opt of recordPerPageOptions" (click)="changeRecordPerPage(opt)"
            [ngClass]="{'text-themeblue-400 bg-themeblue-200': recordPerPage == opt}"
            class="cursor-pointer flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-themeblue-200 whitespace-nowrap">
            {{opt}}
          </div>
        </div>
      </app-floating-dropdown>
    </div>

    <!-- Prev-Next Btn -->
    <div class="flex justify-between items-center gap-6 sm:justify-center sm:w-fit w-full text-themeblue-800">
      <p class="text-base text-themeblue-900">Page
        <span class="font-semibold">{{pageNo}}</span>
        of
        <span class="font-semibold">{{totalPageCount}}</span>
      </p>
      <div class="flex justify-center items-cente rounded-lg border-2 border-gray-200 divide-x-2 divide-gray-200">
        <button (click)="previousPage()" [ngClass]="{'bg-gray-200': pageNo <= 1}" [disabled]="pageNo <= 1"
          class="flex justify-center items-center bg-white pr-2.5 pl-2.5 py-1.5  gap-2  text-base cursor-pointer rounded-l-lg">
          <i class="ph ph-caret-left"></i>
          <p class="hidden xs:block">Previous</p>
        </button>
        <button (click)="nextPage()" [disabled]="(this.totalPageCount <= this.pageNo) || disableFlag"
          [ngClass]="{'bg-gray-200': this.totalPageCount <= this.pageNo || disableFlag}"
          class="flex justify-center items-center bg-white pr-2.5 pl-2.5 py-1.5  gap-2  text-base cursor-pointer  rounded-r-lg">
          <p class="hidden xs:block">Next</p>
          <i class="ph ph-caret-right"></i>
        </button>
      </div>
    </div>
  </div>