<app-msg [MsgBoxId]="msgBoxId"></app-msg>

<!-- Filtter Modal -->
<app-floating-modal [floatingModalId]="customerFilterModalId" title="Filter">
    <div class="xs:w-80 w-full flex flex-col gap-4">
        <div>
            <label class="text-gray-500 text-base font-semibold">Create date</label>
            <input type="date" [(ngModel)]="createDateFilterInput"
                class="w-full px-3 py-2 sm:px-4 sm:py-2 border-[2px] rounded-lg border-gray-200 text-black bg-white"
                placeholder="Create Date" id="createDateFilter" />
        </div>

        <div class="flex justify-center items-cente gap-3">
            <button (click)="resetFilters()"
                class="py-2 sm:py-2 rounded text-danger w-full mt-2 text-base bg-red-100">
                Reset
            </button>
            <button (click)="appyFilter()"
                class="text-white py-2 sm:py-2 rounded bg-gradient-to-r from-themeblue-800 to-themeblue-900 w-full mt-2 text-base">
                Apply
            </button>
        </div>
    </div>
</app-floating-modal>

<!-- Upadte User Modal -->
<app-floating-modal [floatingModalId]="updateCustomerModelId" title="Update Customer">
    <form [formGroup]="customerUpdateForm" (ngSubmit)="updateCustomer()" class="xs:w-80 w-full flex flex-col gap-4">
        <app-input label="Name" [control]="name" name="Name" type="text" autocomplete="Name" [isRequired]="true"
            placeholder="Name"></app-input>
        <app-input label="Phone No." [control]="phone" name="Phone No." type="tel" placeholder="Phone No." [isRequired]="true"
            format="00000 00000"></app-input>
        <app-input label="Email" [control]="email" name="Email" type="text" placeholder="Email" ></app-input>
        <app-input label="TRN" [control]="trn" name="TRN" type="text" placeholder="TRN"></app-input>
       
        <app-textarea label="Address"  [control]="address" name="Address" placeholder="Address" [isRequired]="true"></app-textarea>

        <button [disabled]="isUpdatingUser" type="submit"
            class="text-white py-2 sm:py-3 rounded bg-gradient-to-r from-themeblue-800 to-themeblue-900 w-full mt-2 text-base">
            <app-dot-wave-loader colorCode="#FFFFFF" class="flex justify-center items-center my-1 mt-1.5"
                *ngIf="isUpdatingUser ; else updateUsertext" />
            <ng-template #updateUsertext> Update Customer </ng-template>
        </button>
    </form>
</app-floating-modal>

<!-- Add User Modal -->
<app-floating-modal [floatingModalId]="addCustomerModalId" title="Add Customer">
    <form [formGroup]="customerAddForm" (ngSubmit)="createCustomer()" class="xs:w-80 w-full flex flex-col gap-4">
        <app-input label="Name" [control]="name" name="Name" type="text" autocomplete="Name"
            placeholder="Name" [isRequired]="true"></app-input>
        <app-input label="Phone No." [control]="phone" name="Phone No." type="tel" placeholder="Phone No." [isRequired]="true"
            format="00000 00000"></app-input>
        <app-input label="Email" [control]="email" name="Email" type="text" placeholder="Email"></app-input>
        <app-input label="TRN" [control]="trn" name="TRN" type="text" placeholder="TRN"></app-input>
        <app-textarea label="Address"  [control]="address" name="Address" placeholder="Address" [isRequired]="true" ></app-textarea>

        <button [disabled]="isCreatingUser" type="submit" 
            class="text-white py-2 sm:py-3 rounded bg-gradient-to-r from-themeblue-800 to-themeblue-900 w-full mt-2 text-base">
            <app-dot-wave-loader colorCode="#FFFFFF" class="flex justify-center items-center my-1 mt-1.5"
                *ngIf="isCreatingUser ; else createUsertext" />
            <ng-template #createUsertext> Create Customer </ng-template>
        </button>
    </form>
</app-floating-modal>

<main class="sm:mx-14 mx-8 my-8">
    <div class="flex w-full justify-between items-center gap-4 sm:flex-nowrap flex-wrap">

        <div class="flex justify-center items-center gap-4 w-full sm:w-fit">
          <!-- Search -->
          <div class="flex items-center relative w-full sm:w-fit group">
            <div class=" flex-none absolute  flex items-center justify-center ps-3 pointer-events-none">
              <i class="bx bx-search text-xl text-themeblue-900 "></i>
            </div>
            <input type="search"
              class="form-input pl-10 rounded-lg border-transparent focus:border-transparent bg-themeblue-200 text-themeblue-900"
              placeholder="Search..." [(ngModel)]="filterText" (input)="filterData($event)">
          </div>
        </div>
    
        <div class="flex sm:justify-center sm:w-fit w-full justify-between items-center gap-2 ">
          <!-- Export Button -->
          <div (click)="exportexcel()"
            class="cursor-pointer flex-none gap-2.5 flex justify-center items-center h-10 2xs:px-5 px-2.5 rounded-lg bg-themeblue-200 text-themeblue-900 hover:text-themeblue-800">
            <i class='ph ph-microsoft-excel-logo text-xl'></i>
            <p class="font-semibold text-base 2xs:block hidden">Export</p>
          </div>
    
          <div class="flex justify-center items-center gap-2">
            <!-- Filter Button -->
            <div (click)="openFilterModal()"
              class="cursor-pointer flex-none gap-2.5 flex justify-center items-center h-10 2xs:px-5 px-2.5 rounded-lg bg-themeblue-200 text-themeblue-900 hover:text-themeblue-800">
              <i class='bx bx-filter-alt text-xl'></i>
              <p class=" font-semibold text-base 2xs:block hidden">Filter</p>
            </div>
    
            <!-- Add Button -->
            <button (click)="openAddCustomerForm($event)"
            class="flex-none gap-2.5 waves-effect flex justify-center items-center h-10 w-10 rounded-lg bg-themeblue-200 text-themeblue-900 hover:text-themeblue-800">
              <i class="bx bx-plus text-2xl  "></i>
            </button>
          </div>
        </div>
      </div>


    <!-- Table -->
    <div class="border-[0px] border-themeblue-900 w-full rounded-lg mt-5 shadow-[0_0px_12px_1px_rgba(0,0,0,0.1)]">
        <div class="bg-white sticky top-0 rounded-t-lg border-b-[1px] border-themeblue-900">
          <p class="text-left py-3 px-5 text-themeblue-900 text-2xl font-bold">CUSTOMERS</p>
        </div>
    
        <div class="overflow-auto w-full h-max max-h-[50vh]">
    
          <table class="min-w-full whitespace-nowrap text-base  ">
    
            <thead class="sticky top-[0px] bg-white" id="table-data">
    
              <tr class="bg-themeblue-200 text-themeblue-900 shadow-[#111b7d_0px_1px_0px_0px]">
                        <th class="text-left py-1.5 px-2 pl-5 w-fit">
                            Sl No
                        </th>
                        <th class="text-left py-1.5 px-5">
                            Name
                        </th>
                        <th class="text-left py-1.5 px-5">
                            <p>Phone No.</p>
                        </th>
                        <th class="text-left py-1.5 px-5">Email address</th>
                        <th class="text-left py-1.5 px-5">Address</th>
                        <th class="text-left py-1.5 px-5">TRN</th>
                        <th class="text-left py-1.5 px-5">
                            <div class="flex justify-start items-cente gap-2">
                                <p>Create Date</p>
                                <p *ngIf="createDateFilter != null" class="text-danger">*</p>
                            </div>
                        </th>
                        <th class="text-left py-1.5 px-5"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let entity of entityList; let i = index" class="divide-y divide-gray-200">
                    <tr class="hover:bg-themeblue-100">
                        <td class="py-3 px-2 pl-5">
                            <p>#{{i+1}}</p>
                        </td>
                        <td class="py-3 px-5">
                            <div class="flex justify-start items-center gap-3">
                                <p class="text-black font-semibold">{{entity.name}}</p>
                            </div>
                        </td>
                        <td class="py-3 px-5">
                            <p>{{entity.phone}}</p>
                        </td>
                        <td class="py-3 px-5">
                            <p>{{entity.email}}</p>
                        </td>
                        <td class="py-3 px-5">
                            <p>{{entity.address}}</p>
                        </td>
                        <td class="py-3 px-5">
                            <p>{{entity.trn}}</p>
                        </td>
                        <td class="py-3 px-5">
                            <p>{{entity.createDate | date }}</p>
                        </td>
                        <td class="py-3 px-5">
                            <div class="flex justify-center items-center gap-4">
                                <div  (click)="openUpdateCustomerForm(entity)"
                                    class="flex justify-center items-center gap-5 text-xl  p-2.5 rounded-full nav-link">
                                    <i
                                        class='bx bx-edit text-themeblue-400 cursor-pointer'></i>
                                </div>
                                <div *ngIf="user.role == UserRole.admin" (click)="deleteCustomer(entity)"
                                    class="flex justify-center items-center gap-5 text-xl  p-2.5 rounded-full hover:bg-red-100">
                                    <i 
                                        class='ph ph-trash text-danger cursor-pointer'></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <ng-template #loader>
                    <app-dot-wave-loader colorCode="#11153e"></app-dot-wave-loader>
                </ng-template>
            </table>
        </div>
    </div>

  <!-- Paggination -->
  <app-pagination-bar 
  [recordPerPageOptions]="recordPerPageOptions"
  [recordPerPage]="recordPerPage"
  [pageNo]="pageNo"
  [totalPageCount]="totalPageCount"
  [disableFlag]="isGettingUser"
  ></app-pagination-bar>
</main>