<div  *ngIf="msgService.isMsgBoxOpen(MsgBoxId)"  class="fixed translate-x-2/4 top-10 right-2/4 rounded open-sliding-msg-animation bg-black md:max-w-[50vw] sm:max-w-[70vw] max-w-[80vw]" [ngClass]="{'close-sliding-msg-animation': isCloseing}"
    style="z-index: 55;">
    <div class="flex justify-end items-start px-4 py-3 text-white gap-8 cursor-pointer">
        <div class="flex justify-center items-center gap-4">
                <i *ngIf="bgColor == 'bg-' + Color.danger" class="ph-fill ph-warning-octagon text-danger text-2xl" ></i>
       
                <i *ngIf="bgColor == 'bg-' + Color.success" class="ph-fill ph-check-circle text-success text-2xl"></i>
        
                <i *ngIf="bgColor == 'bg-' + Color.warn" class="ph-fill ph-warning text-warn text-2xl"></i>
            <p class="text-base">{{this.msgService.getMsg(this.MsgBoxId)}}</p>
        </div>
            <i (click)="closeMsgBox()" class="bx bx-x text-lg  text-white"></i>
        
        
    </div>
    <div class="absolute bottom-0 h-1 rounded-t-none rounded-b-2xl loadingBar-animation w-0" id="loadingBar" [ngClass]="bgColor"></div>
</div>

