.menu-animation{
    animation-name: noti;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

@keyframes noti{
    from{
        transform: translateX(-100%);
    }

    to{
        transform: translateX(0%);
    }
}

.close-menu-animation{
    
    animation-name: cnoti;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;

}
@keyframes cnoti{
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(-100%);
    }
}
